<VirtualHost *:80>
  ServerAdmin matt@mattbeckett.me
  DocumentRoot /var/www/html/statamic/public
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>